main {
    padding-top: 120px;
}

.jumbotron {
    padding-bottom: 48px;
    margin: 0; 
    border-radius: none;
}
#tmpborder {
	background-color: #575745;
}

#text-align-right {
	text-align: right;
	margin-top: 45px;
	font-size: 1.5em;
}

#menu-nav{
	list-style-type: none;
}

#menu-nav > li {
	display: inline-block;
	padding: 0 5px;
} 

#logo {
	font-size: 2em;
	font-family: 'Lobster',cursive,Verdana,sans-serif;
	color: black;
}

#background_navbar {
	background-color: #38a5a7;
}

#background_1 {
	background-color: #b8bc60;
}

#background_2 {
	background-color: #f04b4c;
}

body{
	background-color: #fbad51;
}

h2 {
	font-family: cursive;
	font-size: 2em;
	text-align: center;
}

.link_recipes{
	font-family: 'Satisfy',cursive,Verdana,sans-serif;
}

#adminlogin {
	clear: none;
	margin: 0px;	
}

#rights {
	clear: none;
	margin: 0px;
}
#footer {
}


#admin {
}


#legal {
}