body {
	background: #67809F;
}

table > thead {
	background: white;
}

#logo {
	padding-left: 1em; 
	font-size: 2em;
	font-family: 'Lobster',cursive,Verdana,sans-serif;
	color: black;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
	background: #E26A6A;
}

.table-striped > tbody > tr:nth-of-type(2n){
	background: #F4B350;
}

table > thead > tr > th {
	text-align: center;
}

#browse1, #browse2, #browse3  {
	display: none;
}