body {
	background: #67809F;
}

table > thead {
	background: white;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
	background: #E26A6A;
}

.table-striped > tbody > tr:nth-of-type(2n){
	background: #F4B350;
}

table > thead > tr > th {
	text-align: center;
}